#root {
  
  margin: 0 auto;
  
  text-align: center;

}
*{
  /* background-color: #f3d485; */
  
}
.bg{
   background-image: url('./img/bgimg2.png');
   background-size: contain;
   background-repeat: no-repeat;
   
   
}








.read-the-docs {
  color: #f3d485;
}
/* .topHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
} */
.childHead{

  
}
.header{
  color: brown;
  padding: 5%;
}
.content{
  margin: 0 auto;
  align-items: center;

}



